# compiled output
/dist
/tmp

# dependencies
/node_modules
client/node_modules
/bower_components
client/bower_components

# IDEs and editors
/.idea

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store

client/app/*.js
client/app/*.map

*.map

venv/

data/
data/*

*.pyc
